In [1]:
import pandas as pd 
import numpy as np
import glob

In [2]:
path =r'C:\Users\Subhashree\Jupyter_Notebook\IPL\Most_Wickets_KKR' # use your path
allFiles = glob.glob(path + "/*.csv")
df_ms_wickets = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=0)
    team = (file_.rsplit('.csv', 1)[0]).rsplit('_', 2)[1]
    year = (file_.rsplit('.csv', 1)[0]).rsplit('_', 1)[1]
    df['team'] = team
    df['year'] = year
    list_.append(df)
df_ms_wickets = pd.concat(list_)

In [3]:
df_ms_wickets.head(2)

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5,team,year
0,Umar Gul,6.0,6.0,22.3,1.0,184.0,12.0,4/23,15.33,8.17,11.2,1.0,0.0,KKR,2008
1,AB Dinda,13.0,12.0,39.0,0.0,260.0,9.0,3/33,28.88,6.66,26.0,0.0,0.0,KKR,2008

In [4]:
df_ms_wickets[df_ms_wickets.isnull()].head(2)

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5,team,year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_ms_wickets.dropna(axis=0,inplace = True)
df_ms_wickets.isnull().sum()

Player    0
Mat       0
Inns      0
Overs     0
Mdns      0
Runs      0
Wkts      0
BBI       0
Ave       0
Econ      0
SR        0
4         0
5         0
team      0
year      0
dtype: int64

In [6]:
df_ms_wickets.dtypes

Player     object
Mat       float64
Inns      float64
Overs     float64
Mdns      float64
Runs      float64
Wkts      float64
BBI        object
Ave        object
Econ      float64
SR         object
4         float64
5         float64
team       object
year       object
dtype: object

In [7]:
cols = ['Mat' , 'Inns' , 'Mdns' , 'Runs' , 'Wkts' , '4' , '5']
df_ms_wickets[cols] = df_ms_wickets[cols].astype(int)
df_ms_wickets.dtypes

Player     object
Mat         int32
Inns        int32
Overs     float64
Mdns        int32
Runs        int32
Wkts        int32
BBI        object
Ave        object
Econ      float64
SR         object
4           int32
5           int32
team       object
year       object
dtype: object

In [8]:
df_ms_wickets = df_ms_wickets.reset_index(drop=True)

# Top 10 Wicket takers for KKR in all Season #

In [9]:
wickets_by_player = df_ms_wickets.groupby('Player', as_index=False).agg({"Wkts": "sum"})
wickets_by_player.sort_values(by = ['Wkts'], ascending=[False]).head(10)

             Player  Wkts
50        SP Narine    85
52  Shakib Al Hasan    43
19        JH Kallis    42
37        PP Chawla    36
24         L Balaji    33
38         R Bhatia    32
27         M Morkel    32
54         UT Yadav    31
3        AD Russell    30
16    Iqbal Abdulla    28

# Maximum Wicket Taker in a Season #

In [10]:
df_ms_wickets[df_ms_wickets.Wkts == max(df_ms_wickets.Wkts)][['year','Player','Mat','Econ','Overs','Wkts']]

    year     Player  Mat  Econ  Overs  Wkts
39  2012  SP Narine   15  5.47   59.1    24

# Most Overs bowled by players - Top 10 #

In [11]:
overs_by_player = df_ms_wickets.groupby('Player', as_index=False).agg({"Overs": "sum"})
overs_by_player.sort_values(by = ['Overs'], ascending=[False]).head(10)

             Player  Overs
50        SP Narine  261.5
19        JH Kallis  153.0
52  Shakib Al Hasan  150.3
38         R Bhatia  128.6
24         L Balaji  124.3
54         UT Yadav  113.0
27         M Morkel  111.3
15         I Sharma  110.1
37        PP Chawla  109.5
16    Iqbal Abdulla  101.8

## Top 10 Economical Bowlers in Seasons (minimum 40 overs bowled in a season)  ##

In [12]:
df_ms_wickets[df_ms_wickets.Overs>=40].sort_values(by = 'Econ', ascending = True).head(10)[['year','Player','Econ','Overs','Wkts','BBI']]

    year           Player  Econ  Overs  Wkts   BBI
52  2013        SP Narine  5.46   64.0    22  4/13
39  2012        SP Narine  5.47   59.1    24  5/19
28  2011    Iqbal Abdulla  6.10   50.0    16  3/24
67  2014        SP Narine  6.35   64.0    21  4/20
70  2014  Shakib Al Hasan  6.68   50.0    11  2/22
12  2009         I Sharma  6.90   43.0    11  2/15
94  2016        SP Narine  7.12   42.4    11  3/26
41  2012         R Bhatia  7.31   53.1    13  2/14
53  2013        JH Kallis  7.43   53.0    16  3/13
35  2011            B Lee  7.45   45.2     5  1/12

## Top 10 Expensive Bowlers in Seasons (minimum 40 overs bowled in a season)

In [13]:
df_ms_wickets[df_ms_wickets.Overs>=40].sort_values(by = 'Econ', ascending = False).head(10)[['year','Player','Econ','Overs','Wkts','BBI']]

    year      Player  Econ  Overs  Wkts   BBI
82  2015    UT Yadav  9.09   42.0    10  3/33
31  2011    L Balaji  8.33   44.3    10  3/15
71  2014    UT Yadav  8.15   45.0    11  3/13
79  2015  AD Russell  7.96   40.4    14  3/32
3   2008    I Sharma  7.80   42.1     7   1/7
54  2013    L Balaji  7.74   50.0    12  3/19
69  2014    M Morkel  7.64   48.0    12  2/20
55  2013    R Bhatia  7.57   43.5    11  2/23
40  2012   JH Kallis  7.46   54.0    15   2/7
35  2011       B Lee  7.45   45.2     5  1/12