In [1]:
import pandas as pd 
import numpy as np
import glob

In [2]:
path =r'C:\Users\Subhashree\Jupyter_Notebook\IPL\Most_Runs_KKR' # use your path
allFiles = glob.glob(path + "/*.csv")
df_ms_runs = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=0)
    team = (file_.rsplit('.csv', 1)[0]).rsplit('_', 1)[1]
    year = (file_.rsplit('.csv', 1)[0]).rsplit('_', 2)[1]
    df['team'] = team
    df['year'] = year
    list_.append(df)
df_ms_runs = pd.concat(list_)

In [3]:
df_ms_runs.head(2)

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,team,year
0.0,SC Ganguly,13.0,13.0,1.0,349.0,91,29.08,307.0,113.68,0.0,3.0,0.0,33.0,15.0,KKR,2008
1.0,DJ Hussey,13.0,13.0,2.0,319.0,71,29,259.0,123.16,0.0,2.0,2.0,19.0,17.0,KKR,2008

In [4]:
df_ms_runs.isnull().sum()

Player    4
Mat       8
Inns      8
NO        8
Runs      8
HS        8
Ave       8
BF        8
SR        8
100       8
50        8
0         8
4s        8
6s        8
team      0
year      0
dtype: int64

In [5]:
df_ms_runs[df_ms_runs.Player.isnull()]

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,team,year
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KKR,2010
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KKR,2010
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KKR,2010
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KKR,2010

In [6]:
df_ms_runs.dropna(axis = 0,inplace = True)

In [7]:
cols =['Mat','Inns','NO','Runs','100','50','0','4s','6s','BF']
df_ms_runs[cols] = df_ms_runs[cols].astype(int)

In [8]:
df_ms_runs = df_ms_runs.reset_index(drop=True)

In [9]:
df_ms_runs[['Ave','Player','HS']][df_ms_runs['Ave']=='-']

    Ave            Player   HS
18    -     Iqbal Abdulla   1*
30    -          M Kartik  11*
37    -  Mashrafe Mortaza   2*
57    -        BAW Mendis   1*
59    -     Iqbal Abdulla   0*
72    -     Iqbal Abdulla  12*
76    -          L Balaji   3*
90    -     Iqbal Abdulla   1*
105   -     Iqbal Abdulla   6*
109   -        PJ Sangwan   4*
123   -          M Morkel   4*
142   -          M Morkel   1*
143   -           GB Hogg   0*
157   -          UT Yadav   4*
158   -          DM Bravo   6*
159   -          TA Boult   5*
162   -   Shakib Al Hasan   1*

In [10]:
#replacing Ave = - with Higest Score of that player
df_ms_runs['Ave'][df_ms_runs['Ave']=='-'] = df_ms_runs['HS'][df_ms_runs['Ave']=='-'].str.rsplit('*', 1).str[0]

C:\Users\Subhashree\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
df_ms_runs[['Ave','Player']][df_ms_runs['Ave']=='-']

Empty DataFrame
Columns: [Ave, Player]
Index: []

In [12]:
#Records with SR = - 
df_ms_runs[['Ave','Player','SR']][df_ms_runs['SR']=='-']

    Ave   Player SR
143   0  GB Hogg  -

In [13]:
#replacing SR = - with zero
df_ms_runs['SR'][df_ms_runs['SR']=='-'] = 0
df_ms_runs[['Ave','Player','SR']][df_ms_runs['SR']=='-']

C:\Users\Subhashree\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Empty DataFrame
Columns: [Ave, Player, SR]
Index: []

In [14]:
flot_cols = ['Ave','SR']
df_ms_runs[flot_cols] = df_ms_runs[flot_cols].apply(pd.to_numeric)
df_ms_runs.dtypes

Player     object
Mat         int32
Inns        int32
NO          int32
Runs        int32
HS         object
Ave       float64
BF          int32
SR        float64
100         int32
50          int32
0           int32
4s          int32
6s          int32
team       object
year       object
dtype: object

# Best Strike rate of a player in a season with atleast 5 Inns

In [15]:
df_ms_runs[df_ms_runs['SR']==max(df_ms_runs[(df_ms_runs['Inns'] > 5)].SR)]

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,team,year
147,CA Lynn,7,7,1,295,93*,49.16,163,180.98,0,3,0,25,19,KKR,2017

# Best Average of a player in a season with atleast 7 Inns

In [16]:
df_ms_runs[(df_ms_runs['Ave']==max(df_ms_runs[(df_ms_runs['Inns'] > 7)].Ave))]

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,team,year
130,YK Pathan,15,13,8,361,63*,72.2,248,145.56,0,3,0,33,13,KKR,2016

# Top 10 Run scorers for KKR in all Season

In [17]:
runs_by_player = df_ms_runs.groupby('Player', as_index=False).agg({"Runs": "sum"})
runs_by_player.sort_values(by = ['Runs'], ascending=[False]).head(10)

         Player  Runs
23    G Gambhir  2708
76    YK Pathan  1581
57   RV Uthappa  1442
28    JH Kallis  1295
36    MK Pandey  1045
61   SC Ganguly  1031
37    MK Tiwary  1002
9   BB McCullum   882
39     MS Bisla   543
20    DJ Hussey   511

# Runs scored by Players in each seasons

In [18]:
runs_by_player_seasons = df_ms_runs.groupby(['Player','year'], as_index=False).agg({"Runs": "sum"})
runs_by_player_seasons['Runs']=runs_by_player_seasons['Runs'].astype(int)
runs_by_player_seasons.head(5)

       Player  year  Runs
0    A Chopra  2008    42
1    A Chopra  2009    11
2  AB Agarkar  2008    54
3  AB Agarkar  2009    66
4  AB Agarkar  2010    40

# Top 5 Run scorers for KKR in 2017 Season

In [19]:
runs_by_player_seasons.sort_values(by = ['year','Runs'], ascending=[False,False])[runs_by_player_seasons.year=='2017'].head(5)

C:\Users\Subhashree\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

         Player  year  Runs
52    G Gambhir  2017   498
85    MK Pandey  2017   396
121  RV Uthappa  2017   388
32      CA Lynn  2017   295
138   SP Narine  2017   224

# No of seasons played by players  - Top 10

In [20]:
runs_by_player_seasons.Player.value_counts().head(10)

YK Pathan          6
LR Shukla          6
G Gambhir          6
Iqbal Abdulla      5
BB McCullum        5
Shakib Al Hasan    5
SP Narine          5
JH Kallis          4
MS Bisla           4
MK Tiwary          4
Name: Player, dtype: int64

# Maximum run scored in a season

In [21]:
runs_by_player_seasons[runs_by_player_seasons.Runs==max(runs_by_player_seasons['Runs'])]

         Player  year  Runs
119  RV Uthappa  2014   660